body {
  background: black;
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

.message-box {
  width: 900px;
  max-width: calc(100% - 20px);
  margin: 0 auto 10px;
  height: 1em;
  font-size: 18px;
  text-align: center;
  color: red;
}

.message-box.error {
  color: maroon;
}

.table {
  width: 1020px;
  background: green;
  color: black;
  border: 5px brown solid;
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px;
}

.player {
  margin: 25px;
}

.player-name {
  display: block;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.hand {
  height: 150px;
  background: greenyellow;
  border-radius: 5px;
  margin-right: 50px;
}

.hand img {
  height: 100%;
  width: auto;
  padding: 10px 0 10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  font-size: 20px;
  border: 0;
  padding: 10px 16px;
  border-radius: 10px;
  background: gray;
  color: black;
}

button:hover {
  cursor: pointer;
  background: gray;
  color: darkgray;
}

button[disabled] {
  background: whitesmoke;
  color: gainsboro;
}

button[disabled]:hover {
  cursor: not-allowed;
  background: black;
  box-shadow: none;
}

button[type="reset"] {
  background-color: maroon;
  color: bisque;
}

button[type="reset"]:hover {
  background: maroon;
  box-shadow: 0px 0px 10px 5px maroon;
}

button[type="reset"][disabled] {
  visibility: hidden;
}
